@media (max-width:1280px) {
  .container {
    padding: 0 100px;
  }

  .section-offset {
    padding-top: 94px;
    padding-bottom: 90px;
  }

  .section-shift {
    padding-top: 94px;
    padding-bottom: 60px;
  }

  /* HEADER */


  .header__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .header__top::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--light_grey-color);
  }

  .header__wrapper {
    height: 60px;
    padding: 23px 0;
  }

  .header__block {
    width: 100%;
  }

  .header__logo {
    width: 112px;
    height: 14px;
  }

  .header__nav {
    margin-right: 34px;
  }

  .header__search-form {
    top: 88px;
    right: 229px;
  }

  .modal {
    margin: 80px 100px;
  }

  .header__bottom-block {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .submenu {
    width: 490px;
    margin-right: 34px;
  }

  .submenu__item:not(:last-child) {
    margin-right: 0;
  }

  .player {
    width: 300px;
  }

  .header__age {
    display: none;
  }

  /* HERO */


  .hero__content {
    max-width: 539px;
  }

  .hero__container {
    background-image: url(../img/microphone-1024.png);
    background-position: top 83px right 99px;
  }

  .hero__descr {
    margin-bottom: 20px;
  }

  /* PODCASTS */

  .card__author {
    margin-bottom: 21px;
  }

  /* TRANSFERS */


  .transfers__container {
    padding-bottom: 64px;
  }

  .transfers__title {
    margin-bottom: 13px;
  }

  .transfers__btn {
    margin-bottom: 10px;
  }

  .transfers__list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 15px;
  }

  .transfers__item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .transfers__item:not(:nth-child(2n)) {
    margin-right: var(--gap);
  }

  .transfers__item {
    width: calc((100% - ((var(--gap)) * 1)) / 2);
    max-width: 255px;
  }

  /* GUESTS */


  .guests__container {
    padding-top: 93px;
    padding-bottom: 92px;
  }

  .guests__descr {
    max-width: 65%;
    margin-bottom: 50px;
  }

  .accordion__container {
    max-width: 539px;
  }

  .accordion__item:not(:nth-child(4n)) {
    margin-right: 0;
  }

  .accordion__item:not(:nth-child(3n)) {
    margin-right: var(--gap);
  }

  .accordion__item {
    width: calc((100% - ((var(--gap)) * 2)) / 3);
  }

  /* PLAYLISTS */


  .playlists__container {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    padding-bottom: 212px;
  }

  .playlists__menu {
    margin-right: 0;
  }

  .playlists__choice {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 64%;
    height: 185px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .playlists__about-descr {
    position: absolute;
    bottom: 94px;
    padding-top: 0;
    border-top: none;
  }

  .playlists__list {
    padding-bottom: 13px;
    border-bottom: 1px solid var(--light_blue-color);
  }

  .playlists__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc((100% - ((var(--gap)) * 2)) / 3);
    margin-bottom: 28.5px;
    cursor: pointer;
  }

  .playlists__item:not(:nth-child(4n)) {
    margin-right: 0;
  }

  .playlists__item:not(:nth-child(3n)) {
    margin-right: var(--gap);
  }

  .playlists__article {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    min-width: 255px;
  }

  .playlists__content {
    padding-top: 10px;
  }

  .playlists__descr-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 143px;
    padding: 0;
    padding-left: 10px;
  }

  .playlists__btn-play {
    top: 42%;
    left: 21%;
  }

  .playlists__country {
    top: 0;
    left: 0;
  }

  /* MARKETING */


  .marketing__container {
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .marketing__content {
    max-width: 396px;
  }

  /* ABOUT */



  .about__container {
    background-image: url("data:image/svg+xml,%3Csvg width='255' height='255' viewBox='0 0 255 255' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.5' d='M127.5 0L127.525 127.375L176.292 9.70532L127.571 127.394L217.656 37.3439L127.606 127.429L245.295 78.7076L127.625 127.475L255 127.5L127.625 127.525L245.295 176.292L127.606 127.571L217.656 217.656L127.571 127.606L176.292 245.295L127.525 127.625L127.5 255L127.475 127.625L78.7076 245.295L127.429 127.606L37.3439 217.656L127.394 127.571L9.70532 176.292L127.375 127.525L0 127.5L127.375 127.475L9.70532 78.7076L127.394 127.429L37.3439 37.3439L127.429 127.394L78.7076 9.70532L127.475 127.375L127.5 0Z' stroke='%23A1A6B4'/%3E%3C/svg%3E ");
    background-position: top 140px right 100px;
  }

  .about__content {
    max-width: 539px;
  }

  .about__content {
    margin-bottom: 28px;
  }

  .about__slider {
    margin-bottom: 36px;
  }

  .s-button-next {
    top: 31%;
    right: -8%;
  }

  .s-button-prev {
    top: 31%;
    left: -8%;
  }

  .about__form-btn {
    margin-bottom: 29px;
  }

  /* FOOTER */



  .footer__container {
    padding-top: 96px;
    padding-bottom: 93px;
  }

  .footer__copy {
    padding: 3px 0 7px;
  }
}

@media (max-width: 962px) {
  .container {
    padding: 0 114px;
  }

  .section-offset {
    padding-top: 93px;
    padding-bottom: 90px;
  }

  .section-shift {
    padding-top: 93px;
    padding-bottom: 30px;
  }

  /* HEADER */


  .burger {
    position: relative;
    z-index: 10;
    display: block;
    width: 24px;
    height: 24px;
  }

  .burger-line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: var(--violet-color);
    -webkit-transition: opacity .3s ease-in-out;
         -o-transition: opacity .3s ease-in-out;
            transition: opacity .3s ease-in-out;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .burger::before,
  .burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: var(--violet-color);
    -webkit-transition: top .3s ease-in-out, -webkit-transform .3s ease-in-out;
         -o-transition: transform .3s ease-in-out, top .3s ease-in-out;
            transition: top .3s ease-in-out, -webkit-transform .3s ease-in-out;
            transition: transform .3s ease-in-out, top .3s ease-in-out;
            transition: transform .3s ease-in-out, top .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }

  .burger::before {
    top: 0;
  }

  .burger::after {
    bottom: 1px;
  }

  .header__nav {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    visibility: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100vh;
    padding: 106px 114px 106px;
    background-color: var(--light_blue-color);
    -webkit-transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
         -o-transition: visibility .3s ease-in-out, transform .3s ease-in-out;
            transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
            transition: visibility .3s ease-in-out, transform .3s ease-in-out;
            transition: visibility .3s ease-in-out, transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateY(-120%);
        -ms-transform: translateY(-120%);
            transform: translateY(-120%);
  }

  .header__nav::before,
  .header__nav::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 115px;
    height: 315px;
    background-image: url(../img/burger-bg.svg);
    background-repeat: no-repeat;
  }

  .header__nav::before {
    top: 62px;
    right: 112px;
  }

  .header__nav::after {
    right: 33%;
    bottom: 102px;
  }

  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    width: 255px;
    height: 255px;
  }

  .nav__item {
    margin-right: 48px;
    margin-bottom: 64px;
  }

  .burger--active {
    -webkit-transform: translateY(-60px);
        -ms-transform: translateY(-60px);
            transform: translateY(-60px);
  }

  .burger--active::before,
  .burger--active::after {
    top: 50%;
    -webkit-transition: top .3s ease-in-out, -webkit-transform .3s ease-in-out;
         -o-transition: transform .3s ease-in-out, top .3s ease-in-out;
            transition: top .3s ease-in-out, -webkit-transform .3s ease-in-out;
            transition: transform .3s ease-in-out, top .3s ease-in-out;
            transition: transform .3s ease-in-out, top .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }

  .burger--active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .burger--active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .burger--active .burger-line {
    opacity: 0;
  }

  .header__nav--active {
    visibility: visible;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .header__search-form {
    top: 88px;
    right: 243px;
    width: 250px;
  }

  .modal {
    margin: 80px 114px;
  }

  .submenu {
    width: 495px;
    margin-right: 24px;
    padding: 22px 0;
  }

  .player {
    width: 24px;
  }

  .player__img-pause {
    left: 0;
  }

  .player__btn {
    padding-left: 0;
  }

  .player__btn-play {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .player__wrapper {
    display: none;
  }

  .player__img {
    margin-right: 0;
  }

  /* HERO */


  .hero__container {
    background-image: none;
  }

  /* PODCASTS */


  .podcasts__item {
    width: 100%;
  }

  .podcasts__item:not(:nth-child(2n)) {
    margin-right: 0;
  }

  /* TRANSFERS */

  .transfers__container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    padding-bottom: 155px;
  }

  .transfers__container::after {
    content: "";
    position: absolute;
    bottom: 157px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--light_grey-color);
  }

  .transfers__menu {
    height: auto;
    margin-right: 0;
    margin-bottom: 49px;
  }

  .transfers__menu-bottom {
    position: absolute;
    bottom: 31px;
    left: 27.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
    -ms-flex-align: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    width: 100%;
    max-width: 345px;
    padding-top: 0;
    padding-left: 90px;
    background-size: 70px 96px;
  }

  .transfers__btn {
    margin-bottom: 7px;
  }

  .transfers__list {
    margin-bottom: 30px;
    padding-top: 0;
  }

  /* GUESTS */


  .guests__container {
    padding-bottom: 95px;
  }

  .guests__descr {
    max-width: 100%;
  }

  .guests__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .accordion__container {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }

  .guests__card {
    width: 100%;
  }

  .accordion__list {
    padding: 30px 0 1px;
  }

  .accordion__item {
    margin-bottom: 30px;
  }

  .tabs__item {
    min-height: 220px;
  }

  .tabs__descr {
    max-width: 75%;
  }

  /* PLAYLISTS */


  .playlists__container {
    padding-bottom: 235px;
  }

  .playlists__title {
    margin-bottom: 12px;
  }

  .playlists__choice {
    max-width: 98%;
    height: 245px;
  }

  .playlists__radio:not(:nth-child(4n)) {
    margin-bottom: 33px;
  }

  .playlists__item {
    width: calc((100% - ((var(--gap)) * 1)) / 2);
  }

  .playlists__item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .playlists__item:not(:nth-child(2n)) {
    margin-right: var(--gap);
  }

  .playlists__about-descr {
    bottom: 95px;
    width: 70%;
  }

  /* MARKETING */


  .marketing__container {
    -webkit-box-align: start;
    align-items: flex-start;
    -ms-flex-align: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    padding-top: 54px;
    padding-bottom: 94px;
  }

  .marketing__product {
    margin-right: 0;
    margin-bottom: 45px;
  }

  .marketing__content {
    max-width: 100%;
  }

  .marketing__title {
    max-width: 396px;
    margin-bottom: 16px;
  }

  .marketing__img-wave {
    width: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='541' height='12' viewBox='0 0 541 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1C9.17497 1 9.17497 11 17.3499 11C25.5249 11 25.5249 1 33.6999 1C41.8749 1 41.8749 11 50.0307 11C58.2059 11 58.2059 1 66.3615 1C74.5366 1 74.5366 11 82.6922 11C90.8673 11 90.8674 1 99.0419 1C107.217 1 107.217 11 115.392 11C123.567 11 123.567 1 131.742 1C139.917 1 139.917 11 148.092 11C156.267 11 156.267 1 164.442 1C172.617 1 172.617 11 180.792 11C188.967 11 188.967 1 197.142 1C205.317 1 205.317 11 213.473 11C221.648 11 221.648 1 229.803 1C237.979 1 237.979 11 246.134 11C254.309 11 254.309 1 262.484 1C270.659 1 270.659 11 278.834 11C287.009 11 287.009 1 295.184 1C303.359 1 303.359 11 311.534 11C319.709 11 319.709 1 327.884 1C336.059 1 336.059 11 344.234 11C352.409 11 352.409 1 360.584 1C368.759 1 368.759 11 376.915 11C385.09 11 385.09 1 393.245 1M262.166 1C270.341 1 270.341 11 278.516 11C286.691 11 286.691 1 294.866 1C303.041 1 303.041 11 311.197 11C319.372 11 319.372 1 327.527 1C335.703 1 335.703 11 343.858 11C352.033 11 352.033 1 360.208 1C368.383 1 368.383 11 376.558 11C384.733 11 384.733 1 392.908 1C401.083 1 401.083 11 409.258 11C417.433 11 417.433 1 425.608 1C433.783 1 433.783 11 441.958 11C450.133 11 450.133 1 458.308 1C466.483 1 466.483 11 474.638 11C482.814 11 482.814 1 490.969 1C499.144 1 499.144 11 507.3 11C515.475 11 515.475 1 523.65 1C531.825 1 531.825 11 540 11' stroke='%23A1A6B4' stroke-miterlimit='10' stroke-linecap='square'/%3E%3C/svg%3E%0A");
  }

  /* ABOUT */


  .about__container {
    padding-bottom: 94px;
    background-image: url("data:image/svg+xml,%3Csvg width='654' height='114' viewBox='0 0 654 114' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.5' d='M377.276 72.88C377.276 33.343 366.862 1.29221 354.015 1.29221C341.169 1.29221 330.754 33.343 330.754 72.88C330.754 95.0376 335.163 113 340.601 113C346.039 113 350.448 95.0376 350.448 72.88C350.448 33.343 340.034 1.29221 327.187 1.29221C314.34 1.29221 303.926 33.343 303.926 72.88C303.926 95.0376 308.334 113 313.773 113C319.211 113 323.619 95.0376 323.619 72.88C323.619 33.343 313.141 1.29221 300.216 1.29221C287.29 1.29221 276.812 33.343 276.812 72.88C276.812 95.0376 281.22 113 286.659 113C292.097 113 296.505 95.0376 296.505 72.88C296.505 33.343 286.091 1.29221 273.244 1.29221C260.398 1.29221 249.984 33.343 249.984 72.88C249.984 95.0376 254.392 113 259.83 113C265.268 113 269.677 95.0376 269.677 72.88C269.677 33.343 259.262 1.29221 246.415 1.29221C233.569 1.29221 223.155 33.343 223.155 72.88C223.155 95.0376 227.564 113 233.001 113C238.439 113 242.848 95.0376 242.848 72.88C242.848 33.343 232.433 1.29221 219.587 1.29221C206.741 1.29221 196.326 33.343 196.326 72.88C196.326 95.0376 200.735 113 206.173 113C211.611 113 216.019 95.0376 216.019 72.88C216.019 33.343 205.541 1.2922 192.616 1.2922C179.691 1.2922 169.212 33.343 169.212 72.88M512 72.88C512 33.343 501.586 1.29221 488.739 1.29221C475.892 1.29221 465.478 33.343 465.478 72.88C465.478 95.0376 469.887 113 475.325 113C480.763 113 485.171 95.0376 485.171 72.88C485.171 33.343 474.757 1.29221 461.911 1.29221C449.064 1.29221 438.649 33.343 438.649 72.88C438.649 95.0376 443.058 113 448.496 113C453.934 113 458.343 95.0376 458.343 72.88C458.343 33.343 447.865 1.29221 434.939 1.29221C422.014 1.29221 411.535 33.343 411.535 72.88C411.535 95.0376 415.944 113 421.382 113C426.821 113 431.228 95.0376 431.228 72.88C431.228 33.343 420.815 1.29221 407.968 1.29221C395.121 1.29221 384.707 33.343 384.707 72.88C384.707 95.0376 389.115 113 394.553 113C399.992 113 404.4 95.0376 404.4 72.88C404.4 33.343 393.986 1.29221 381.139 1.29221C368.292 1.29221 357.878 33.343 357.878 72.88C357.878 95.0376 362.287 113 367.725 113C373.163 113 377.572 95.0376 377.572 72.88C377.572 33.343 367.157 1.29221 354.311 1.29221C341.464 1.29221 331.05 33.343 331.05 72.88C331.05 95.0376 335.458 113 340.897 113C346.334 113 350.743 95.0376 350.743 72.88C350.743 33.343 340.265 1.2922 327.34 1.2922C314.414 1.2922 303.936 33.343 303.936 72.88M81.0642 72.5878C81.0642 33.0508 70.65 1.00001 57.8033 1.00001C44.9567 1.00001 34.5423 33.0508 34.5423 72.5878C34.5423 94.7454 38.9508 112.708 44.389 112.708C49.8271 112.708 54.2357 94.7454 54.2357 72.5878C54.2357 33.0508 43.8214 1.00001 30.9747 1.00001C18.128 1.00001 7.7134 33.0507 7.7134 72.5878C7.7134 94.7454 12.1221 112.708 17.5604 112.708C22.9986 112.708 27.4071 94.7454 27.4071 72.5878C27.4071 33.0508 16.9289 1.00001 4.00348 1C-8.9219 1 -19.4005 33.0507 -19.4005 72.5878C-19.4005 94.7454 -14.9918 112.708 -9.55346 112.708C-4.11512 112.708 0.292723 94.7454 0.292724 72.5878C0.292726 33.0507 -10.1211 1 -22.9679 1C-35.8146 1 -46.2285 33.0507 -46.2285 72.5878C-46.2285 94.7454 -41.8206 112.708 -36.3823 112.708C-30.944 112.708 -26.5353 94.7454 -26.5353 72.5878C-26.5353 33.0507 -36.95 1 -49.7967 1C-62.6434 1 -73.0573 33.0507 -73.0573 72.5878C-73.0573 94.7454 -68.6486 112.708 -63.2111 112.708C-57.7728 112.708 -53.3641 94.7454 -53.3641 72.5878C-53.3641 33.0507 -63.7788 1 -76.6247 1C-89.4714 1 -99.8861 33.0507 -99.8861 72.5878C-99.8861 94.7454 -95.4774 112.708 -90.0391 112.708C-84.6016 112.708 -80.1929 94.7454 -80.1929 72.5878C-80.1929 33.0507 -90.6707 1 -103.596 1C-116.521 0.999999 -127 33.0507 -127 72.5878M215.788 72.5878C215.788 33.0508 205.374 1.00001 192.527 1.00001C179.68 1.00001 169.266 33.0508 169.266 72.5878C169.266 94.7454 173.674 112.708 179.113 112.708C184.551 112.708 188.959 94.7454 188.959 72.5878C188.959 33.0508 178.545 1.00001 165.698 1.00001C152.852 1.00001 142.437 33.0507 142.437 72.5878C142.437 94.7454 146.846 112.708 152.284 112.708C157.722 112.708 162.131 94.7454 162.131 72.5878C162.131 33.0508 151.652 1.00001 138.727 1C125.802 1 115.323 33.0507 115.323 72.5878C115.323 94.7454 119.732 112.708 125.17 112.708C130.608 112.708 135.016 94.7454 135.016 72.5878C135.016 33.0507 124.602 1 111.756 1C98.909 1 88.4951 33.0507 88.4951 72.5878C88.4951 94.7454 92.9029 112.708 98.3413 112.708C103.78 112.708 108.188 94.7454 108.188 72.5878C108.188 33.0507 97.7736 1 84.9269 1C72.0802 1 61.6663 33.0507 61.6663 72.5878C61.6663 94.7454 66.075 112.708 71.5125 112.708C76.9508 112.708 81.3595 94.7454 81.3595 72.5878C81.3595 33.0507 70.9448 1 58.0989 1C45.2521 1 34.8375 33.0507 34.8375 72.5878C34.8375 94.7454 39.2461 112.708 44.6845 112.708C50.122 112.708 54.5307 94.7454 54.5307 72.5878C54.5307 33.0507 44.0529 1 31.1275 1C18.2022 0.999999 7.72359 33.0507 7.72359 72.5878' stroke='%23A1A6B4' stroke-linecap='round'/%3E%3Cpath opacity='0.5' d='M598 1L598.011 56.9449L619.43 5.26273L598.031 56.9535L637.598 17.402L598.047 56.9688L649.737 35.5696L598.055 56.9892L654 57L598.055 57.0108L649.737 78.4304L598.047 57.0312L637.598 96.5979L598.031 57.0465L619.43 108.737L598.011 57.0551L598 113L597.989 57.0551L576.57 108.737L597.969 57.0465L558.402 96.5979L597.953 57.0312L546.263 78.4304L597.945 57.0108L542 57L597.945 56.9892L546.263 35.5696L597.953 56.9688L558.402 17.402L597.969 56.9535L576.57 5.26273L597.989 56.9449L598 1Z' stroke='%23A1A6B4'/%3E%3C/svg%3E ");
    background-position: top 32% left;
  }

  .about__content {
    margin-bottom: 172px;
  }

  .s-button-prev {
    top: 29%;
    left: -12.5%;
  }

  .s-button-next {
    top: 29%;
    right: -12.5%;
  }

  .about__slider {
    margin-bottom: 30px;
  }

  .about__form-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .about__form-group--name {
    margin-bottom: 30px;
  }

  .form-input {
    padding: 24px 32px;
  }

  /* FOOTER */


  .footer {
    background-image: url("data:image/svg+xml,%3Csvg width='768' height='12' viewBox='0 0 768 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.6' d='M0 1C8.34002 1 8.34001 11 16.68 11C25.02 11 25.02 1 33.3601 1C41.7001 1 41.7001 11 50.0206 11C58.3608 11 58.3608 1 66.681 1C75.0212 1 75.0213 11 83.3415 11C91.6817 11 91.6817 1 100.021 1C108.361 1 108.361 11 116.702 11C125.041 11 125.041 1 133.381 1C141.722 1 141.722 11 150.062 11C158.401 11 158.401 1 166.742 1C175.082 1 175.082 11 183.422 11C191.762 11 191.762 1 200.102 1C208.442 1 208.442 11 216.762 11C225.103 11 225.102 1 233.423 1C241.763 1 241.763 11 250.083 11C258.423 11 258.423 1 266.763 1C275.103 1 275.103 11 283.443 11C291.783 11 291.783 1 300.123 1C308.463 1 308.463 11 316.803 11C325.143 11 325.143 1 333.464 1C341.804 1 341.804 11 350.124 11C358.465 11 358.465 1 366.785 1C375.125 1 375.125 11 383.465 11C391.805 11 391.805 1 400.145 1C408.485 1 408.485 11 416.825 11C425.165 11 425.165 1 433.505 1C441.845 1 441.845 11 450.185 11C458.525 11 458.525 1 466.865 1C475.205 1 475.205 11 483.545 11C491.885 11 491.885 1 500.206 1C508.546 1 508.546 11 516.866 11C525.206 11 525.206 1 533.526 1C541.867 1 541.867 11 550.206 11C558.546 11 558.546 1 566.887 1C575.226 1 575.226 11 583.566 11C591.907 11 591.907 1 600.247 1C608.586 1 608.586 11 616.927 11C625.267 11 625.267 1 633.607 1C641.947 1 641.947 11 650.287 11C658.627 11 658.627 1 666.947 1C675.288 1 675.288 11 683.608 11C691.948 11 691.948 1 700.268 1C708.608 1 708.608 11 716.948 11C725.288 11 725.288 1 733.628 1M734.64 1C742.98 1 742.98 11 751.32 11C759.66 11 759.66 1 768 1' stroke='%23F5F6F7' stroke-miterlimit='10' stroke-linecap='square'/%3E%3C/svg%3E ");
  }

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    padding-bottom: 102px;
  }

  .footer__left {
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
    margin-bottom: 73px;
  }

  .footer__logo {
    width: 160px;
    height: 20px;
    margin-bottom: 20px;
  }

  .footer__social-ok,
  .footer__social-vk,
  .footer__social-youtube {
    width: 36px;
    height: 36px;
  }

  .footer__nav {
    max-width: 540px;
  }

  .footer__list {
    -webkit-column-gap: 172px;
       -moz-column-gap: 172px;
            column-gap: 172px;
  }

  .footer__item {
    margin-bottom: 27px;
  }
}

@media (max-width: 700px) {
  .container {
    padding: 0 32px;
  }

  .section-offset {
    padding-top: 54px;
    padding-bottom: 54px;
  }

  .section-shift {
    padding-top: 54px;
    padding-bottom: 30px;
  }

  .btn {
    padding: 17px 45px;
    font-size: 16px;
    line-height: 16px;
  }

  /* HEADER */



  .header__top {
    position: relative;
  }

  .header__top::before {
    height: 54px;
  }

  .header__nav {
    overflow: hidden;
    height: 60vh;
  }

  .header__nav {
    padding: 35px 35px 24px 32px;
  }

  .header__nav::before,
  .header__nav::after {
    visibility: hidden;
  }

  .nav__list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 240px;
  }

  .nav__item {
    margin-bottom: 40px;
  }

  .burger--active {
    -webkit-transform: translateY(-54px);
        -ms-transform: translateY(-54px);
            transform: translateY(-54px);
  }

  .header__btn {
    position: absolute;
    top: 8px;
    right: 32px;
  }

  .header__search {
    margin-right: 0;
  }

  .header__search-form {
    top: 80px;
    right: 33px;
    width: 220px;
  }

  .modal {
    margin: 55px 32px;
    padding: 40px 20px;
  }

  .modal__title {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
  }

  .modal__text {
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
  }

  .modal__link {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }

  .modal__form-group:first-child {
    margin-bottom: 20px;
  }

  .modal__form {
    margin-bottom: 20px;
  }

  .modal__wrapper {
    margin-bottom: 10px;
  }

  .modal__input-pass.form-input,
  .modal__input-login.form-input {
    padding: 12px 18px;
  }

  .modal__text-other {
    margin-bottom: 10px;
  }

  .modal__close-btn {
    top: 20px;
    right: 20px;
    width: 28px;
    height: 28px;
  }

  .header__bottom-block {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .submenu {
    position: absolute;
    z-index: 9;
    top: 60vh;
    left: 0;
    visibility: hidden;
    overflow: hidden;
    width: 100%;
    height: 40vh;
    padding: 30px 32px;
    background-color: var(--white-color);
    -webkit-transition: visibility .3s ease-in-out;
         -o-transition: visibility .3s ease-in-out;
            transition: visibility .3s ease-in-out;
    -webkit-transform: translateY(-250%);
        -ms-transform: translateY(-250%);
            transform: translateY(-250%);
  }

  .submenu--active {
    visibility: visible;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .submenu__item:not(:last-child) {
    margin-right: 78px;
  }

  .submenu__item {
    margin-bottom: 30px;
  }

  .submenu__list {
    -webkit-box-align: baseline;
    align-items: baseline;
    -ms-flex-align: baseline;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 140px;
  }

  .player {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid var(--light_grey-color);
  }

  .player__wrapper {
    position: absolute;
    z-index: 1;
    bottom: -66px;
    visibility: hidden;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 60%;
    padding-top: 1px;
    background-color: var(--white-color);
    -webkit-transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
         -o-transition: transform .3s ease-in-out, visibility .3s ease-in-out;
            transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
            transition: transform .3s ease-in-out, visibility .3s ease-in-out;
            transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(-120%);
        -ms-transform: translateX(-120%);
            transform: translateX(-120%);
  }

  .player__wrapper--active {
    visibility: visible;
    -webkit-transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
         -o-transition: transform .3s ease-in-out, visibility .3s ease-in-out;
            transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
            transition: transform .3s ease-in-out, visibility .3s ease-in-out;
            transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .player__wrapper:first-child {
    border-right: 1px solid var(--light_blue-color);
  }

  .player__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
    max-width: 700px;
    border: none;
  }

  .player__open-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
    padding: 14px 0 14px;
  }

  .player__open-img--active {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .player__btn--2 {
    padding-left: 15px;
  }

  .player__img {
    bottom: 27px;
    left: 42%;
    margin-bottom: 7px;
  }

  .player__img-pause {
    bottom: 34px;
    left: 42%;
  }

  .player__btn-play {
    display: none;
  }

  .player__btn {
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    height: 64px;
    padding-right: 14px;
  }

  .player__btn:first-child {
    padding-right: 0;
    border-right: 1px solid var(--light_blue-color);
  }

  .player__btn:last-child {
    padding-left: 0;
  }

  .player__text {
    font-size: 10px;
    line-height: 10px;
  }

  .player__text-name {
    font-size: 14px;
    line-height: 14px;
  }

  /* HERO */

  .hero__container {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .hero__title {
    margin-bottom: 8px;
    font-size: 32px;
    line-height: 32px;
  }

  .hero__descr {
    font-size: 14px;
    line-height: 21px;
  }

  /* PODCASTS */


  .title {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
  }

  .podcasts__title {
    margin-bottom: 19px;
  }

  /* TRANSFERS */


  .transfers__container {
    padding-bottom: 157px;
  }

  .transfers__menu {
    margin-bottom: 29px;
  }

  .transfers__title {
    margin-bottom: 18px;
  }

  .transfers__author {
    font-size: 12px;
    line-height: 12px;
  }

  .transfers__menu-bottom {
    left: 20%;
  }

  /* GUESTS */

  .accordion__container {
    max-width: 100%;
  }

  .tabs__descr {
    max-width: 100%;
  }

  /* PLAYLISTS */



  .playlists__container {
    padding-bottom: 190px;
  }

  .playlists__radio-text {
    font-size: 16px;
    line-height: 16px;
  }

  .playlists__item {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .playlists__article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    min-width: auto;
  }

  .playlists__descr-card {
    min-width: auto;
    padding: 10px;
  }

  .playlists__about-descr {
    bottom: 30px;
  }

  .playlists__subtitle-card {
    font-size: 12px;
    line-height: 12px;
  }

  .playlists__text-card {
    font-size: 9px;
    line-height: 9px;
  }

  .playlists__btn-play {
    top: 32%;
    left: 50%;
  }

  /* MARKETING */


  .marketing__container {
    padding-top: 54px;
    padding-bottom: 54px;
  }

  /* ABOUT */


  .about__container {
    overflow: hidden;
    background-image: none;
  }

  .about__content {
    margin-bottom: 30px;
  }

  .s-button-prev {
    display: none;
  }

  .s-button-next {
    display: none;
  }

  .about__article {
    max-width: 255px;
  }

  .swiper,
  swiper-container {
    overflow: visible;
  }

  /* FOOTER */


  .footer__list {
    -webkit-column-gap: 117px;
       -moz-column-gap: 117px;
            column-gap: 117px;
  }
}

@media (max-width: 500px) {
  /* HEADER */


  .header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
    height: 54px;
  }

  .header__logo {
    width: 88px;
    height: 11px;
  }

  .header__block {
    height: 50px;
  }

  .header__search-form {
    top: 66px;
  }

  .header__btn {
    padding: 8px 23px;
  }

  .modal__input-pass.form-input,
  .modal__input-login.form-input {
    padding: 12px 18px;
  }

  .modal__btn {
    padding: 12px 56px;
  }

  .player__wrapper {
    max-width: 100%;
  }

  .player__btn {
    -webkit-box-align: start;
    align-items: flex-start;
    -ms-flex-align: start;
  }

  .player__btn:last-child {
    padding-right: 0;
    padding-left: 20px;
  }

  .player__btn--2 {
  }

  .player__btn--2 .player__img,
  .player__btn--2 .player__img-pause {
    left: 20px;
  }

  .player__img {
    left: 0;
  }

  .player__img-pause {
    left: 0;
  }

  /* PODCASTS */


  .podcasts__list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 0;
  }

  .podcasts__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    max-width: 256px;
    margin-bottom: 31px;
  }

  .podcasts__item--hidden {
    display: none;
  }

  .card__article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .card__block-descr {
    position: relative;
    padding: 14px 16px 0;
  }

  .card__date {
    top: 0;
  }

  .card__title {
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 16px;
  }

  .card__author {
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 12px;
  }

  .card__play {
    top: 24px;
    right: 16px;
    width: 36px;
    height: 36px;
  }

  .card__block {
    padding: 6px 18px 5px;
  }

  .card__block::before {
    bottom: 25px;
  }

  .card__popularity {
    font-size: 12px;
    line-height: 12px;
  }

  .podcasts__btn {
    padding: 16px 30px;
  }

  /* TRANSFERS */


  .transfers__container {
    padding-bottom: 132px;
  }

  .transfers__container::after {
    bottom: 164px;
  }

  .transfers__menu-bottom {
    bottom: 28px;
    left: 32px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    max-width: 256px;
    background-size: 77px 105px;
  }

  .transfers__btn {
    margin-bottom: 0;
    padding: 9px 29px;
  }

  .transfers__text {
    margin-bottom: 7px;
    font-size: 14px;
    line-height: 21px;
  }

  .transfers__wrapper {
    min-height: 99px;
    padding: 10px 10px 12px 10px;
  }

  .transfers__item {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: none;
  }

  .transfers__article {
    width: 113px;
    border: 1px solid var(--light_grey-color);
  }

  .transfers__subtitle {
    font-size: 12px;
    line-height: 12px;
  }

  .transfers__info {
    margin-bottom: 18px;
    font-size: 9px;
    line-height: 9px;
  }

  .transfers__link {
    font-size: 12px;
    line-height: 12px;
  }

  /* GUESTS */


  .guests__subtitle {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 21px;
  }

  .guests__descr {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 22px;
  }

  .accordion__container {
    margin-bottom: 32px;
  }

  .accordion__btn-slide {
    padding: 17px 50px 18px 0;
    font-size: 16px;
    line-height: 16px;
  }

  .accordion__btn-svg {
    right: 2px;
    width: 26px;
    height: 26px;
  }

  .accordion__profession {
    min-height: 51px;
  }

  .accordion__list {
    min-width: 245px;
    padding: 20px 0 15px;
  }

  .accordion__item {
    width: calc(((100% - 42px * 1)) / 2);
    line-height: 14px;
  }

  .accordion__item:last-child {
    margin-bottom: 20px;
  }

  .accordion__item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .accordion__item:not(:nth-child(2n)) {
    margin-right: 36px;
  }

  .accordion__btn {
    font-size: 14px;
    line-height: 15px;
    text-align: left;
  }

  .tabs__link {
    height: auto;
  }

  .tabs__link svg {
    width: 36px;
    height: 36px;
  }

  .tabs__link:not(:last-child) {
    margin-right: 21px;
  }

  .tabs__block-link {
    margin-bottom: 8px;
  }

  .tabs__btn {
    padding: 8px 13px;
  }

  /* PLAYLISTS */


  .playlists__container {
    overflow: hidden;
  }

  .playlists__title {
    margin-bottom: 19px;
  }

  .playlists__subtitle {
    margin-bottom: 6px;
    font-size: 12px;
    line-height: 12px;
  }

  .playlists__choice {
    overflow: scroll;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    max-width: 100%;
    height: auto;
    margin-bottom: 19px;
  }

  .playlists__radio-text {
    padding: 9px 19px;
    border: 2px solid var(--violet-color);
    border-radius: 77px;
    color: var(--violet-color);
  }

  .playlists__radio-text::before,
  .playlists__radio-text::after {
    display: none;
  }

  .playlists__radio {
    min-width: -webkit-max-content;
    min-width:    -moz-max-content;
    min-width:         max-content;
  }

  .playlists__radio:not(:nth-child(4n)) {
    margin-bottom: 0;
  }

  .playlists__radio:not(:last-child) {
    margin-right: 15px;
    margin-bottom: 0;
  }

  .playlists__list {
    padding-bottom: 0;
  }

  .playlists__item {
    margin-bottom: 31px;
  }

  .playlists__descr-card {
    padding-right: 5px;
  }

  .playlists__country {
    right: 0;
    left: auto;
  }

  .playlists__about-descr {
    bottom: 52px;
  }

  .playlists__menu-text {
    font-size: 12px;
    line-height: 16px;
  }

  .playlists__menu-copy {
    font-size: 12px;
    line-height: 22px;
  }

  /* MARKETING */


  .marketing__container {
    padding-top: 54px;
    padding-bottom: 54px;
  }

  .marketing__product {
    margin-bottom: 27px;
  }

  .marketing__title {
    margin-bottom: 10px;
  }

  .marketing__img-wave {
    margin-bottom: 17px;
    background-image: url("data:image/svg+xml,%3Csvg width='256' height='12' viewBox='0 0 256 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1C8.941 1 8.941 11 16.882 11C24.823 11 24.823 1 32.764 1C40.705 1 40.705 11 48.6274 11C56.5686 11 56.5686 1 64.4908 1C72.432 1 72.432 11 80.3541 11C88.2953 11 88.2953 1 96.2359 1C104.177 1 104.177 11 112.118 11C120.059 11 120.059 1 128 1C135.941 1 135.941 11 143.882 11C151.823 11 151.823 1 159.764 1C167.705 1 167.705 11 175.646 11C183.587 11 183.587 1 191.528 1C199.469 1 199.469 11 207.392 11C215.333 11 215.333 1 223.255 1C231.196 1 231.196 11 239.118 11C247.059 11 247.059 1 255 1' stroke='%23A1A6B4' stroke-miterlimit='10' stroke-linecap='square'/%3E%3C/svg%3E ");
  }

  .marketing__descr {
    margin-bottom: 13px;
    font-size: 14px;
    line-height: 22px;
  }

  .marketing__price {
    margin-bottom: 17px;
    font-size: 24px;
    line-height: 24px;
  }

  .marketing__btn {
    padding: 15px 14px 16px 42px;
    font-size: 16px;
    line-height: 16px;
    background-position: top 14px left 14px;
  }

  /* ABOUT */



  .about__subtitle {
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 150%;
  }

  .about__descr {
    font-size: 14px;
    line-height: 22px;
  }

  .about__photo {
    margin-bottom: 13px;
  }

  .about__list-name {
    max-width: 85%;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 18px;
  }

  .about__list-descr {
    font-size: 12px;
    line-height: 16px;
  }

  .about__form-area {
    padding: 16px 23px;
    border-radius: 20px;
  }

  .form-input {
    padding: 16px 24px;
    font-size: 16px;
    line-height: 16px;
  }

  .about__form-area::-webkit-input-placeholder,
  .form-input::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 16px;
  }

  .about__form-area::-moz-placeholder,
  .form-input::-moz-placeholder {
    font-size: 16px;
    line-height: 16px;
  }

  .about__form-area:-ms-input-placeholder,
  .form-input:-ms-input-placeholder {
    font-size: 16px;
    line-height: 16px;
  }

  .about__form-area::-ms-input-placeholder,
  .form-input::-ms-input-placeholder {
    font-size: 16px;
    line-height: 16px;
  }

  .about__form-area::placeholder,
  .form-input::placeholder {
    font-size: 16px;
    line-height: 16px;
  }

  .about__form-btn {
    margin-bottom: 14px;
  }

  .about__form-check::before {
    width: 13px;
    height: 13px;
  }

  .about__form-check {
    font-size: 9px;
    line-height: 9px;
  }

  .js-validate-error-label {
    top: -1px;
    left: 18px;
    font-size: 10px;
  }

  .form-tooltip--checkbox .js-validate-error-label {
    top: -13px;
    left: 15px;
  }

  /* FOOTER */


  .footer {
    background-image: url("data:image/svg+xml,%3Csvg width='320' height='12' viewBox='0 0 320 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.6' d='M0 11C8.004 11 8.00398 1 15.9887 1C23.9927 1 23.9927 11 31.9775 11C39.9814 11 39.9814 1 47.9847 1C55.9887 1 55.9887 11 63.9926 11C71.9964 11 71.9964 1 80.0001 1C88.0039 1 88.0039 11 96.0076 11C104.011 11 104.011 1 111.996 1C120 1 120 11 127.985 11C135.989 11 135.989 1 143.974 1C151.978 1 151.978 11 159.981 11C167.985 11 167.985 1 175.989 1C183.992 1 183.992 11 191.996 11C200 11 200 1 208.004 1C216.008 1 216.008 11 224.011 11C232.015 11 232.015 1 240.019 1C248.023 1 248.023 11 256.027 11C264.03 11 264.03 1 272.015 1C280.019 1 280.019 11 288.004 11C296.008 11 296.008 1 303.993 1C311.997 1 311.997 11 320 11' stroke='%23F5F6F7' stroke-miterlimit='10' stroke-linecap='square'/%3E%3C/svg%3E ");
    background-position: bottom 30px center;
  }

  .footer__container {
    position: relative;
    padding-bottom: 110px;
  }

  .footer__nav::before {
    content: "";
    position: absolute;
    bottom: 24px;
    left: 0;
    width: 100%;
    height: 216px;
    background-color: var(--dark_blue-color);
  }

  .footer__list {
    position: relative;
    z-index: 2;

    -webkit-columns: 2;
       -moz-columns: 2;
            columns: 2;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }

  .footer__item {
    margin-bottom: 18px;
  }

  .footer__link {
    font-size: 12px;
    line-height: 12px;
  }

  .footer__copy {
    padding: 4px 0 10px;
    font-size: 12px;
    line-height: 12px;
  }
}

@media (any-hover: hover) {
  .nav__link:hover:not(:active) {
    color: var(--violet-color);
  }

  .header__search:hover:not(:active) {
    stroke: var(--light_violet-color);
  }

  .header__btn:hover:not(:active) {
    color: var(--white-color);
    background-color: var(--dark_blue-color);
  }

  .modal__link:hover:not(:active) {
    color: var(--light_violet-color);
  }

  .modal__btn:hover:not(:active) {
    background-color: var(--light_violet-color);
  }

  .modal__link-login:hover:not(:active) .modal__img {
    fill: var(--violet-color);
  }

  .close-img:hover:not(:active) {
    stroke: var(--violet-color);
  }

  .submenu__link:hover:not(:active) {
    color: var(--violet-color);
  }

  .player__btn-play:hover:not(:active) .player__img-play,
  .player__btn:hover:not(:active) .player__img-pause,
  .player__btn:hover:not(:active) .player__img {
    fill: var(--violet-color);
  }

  .hero__descr-link:hover:not(:active)::after {
    width: 100%;
  }

  .hero__btn:hover:not(:active) {
    background-color: var(--light_violet-color);
  }

  .card__play:hover:not(:active) .card__play-icon path {
    fill: var(--violet-color);
  }

  .card__play:hover:not(:active) .card__play-icon circle {
    stroke: var(--violet-color);
  }

  .podcasts__btn:hover:not(:active) {
    color: var(--white-color);
    background-color: var(--violet-color);
  }

  .choices__inner:hover:not(:active) {
    background-color: var(--white-color);
  }

  .transfers__article:hover picture {
    opacity: .7;
  }

  .transfers__btn:hover:not(:active) {
    color: var(--white-color);
    background-color: var(--dark_blue-color);
  }

  .transfers__article:hover:not(:active) .transfers__link {
    color: var(--violet-color);
  }

  .transfers__link:hover:not(:active)::after {
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='8' viewBox='0 0 21 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.3536 4.35355C20.5488 4.15829 20.5488 3.84171 20.3536 3.64645L17.1716 0.464466C16.9763 0.269204 16.6597 0.269204 16.4645 0.464466C16.2692 0.659728 16.2692 0.976311 16.4645 1.17157L19.2929 4L16.4645 6.82843C16.2692 7.02369 16.2692 7.34027 16.4645 7.53553C16.6597 7.7308 16.9763 7.7308 17.1716 7.53553L20.3536 4.35355ZM0 4.5H20V3.5H0V4.5Z' fill='%236D31EE'/%3E%3C/svg%3E ");
  }

  .accordion__btn-slide:hover:not(:active) {
    color: var(--light_violet-color);
  }

  .guests__btn:hover:not(:active)
  .accordion__btn-svg {
    stroke: var(--light_violet-color);
  }

  .accordion__btn:hover:not(:active) {
    color: var(--light_violet-color);
  }

  .tabs__link:hover:not(:active) svg {
    fill: var(--violet-color);
  }

  .tabs__btn:hover:not(:active) {
    color: var(--white-color);
    background-color: var(--light_violet-color);
  }

  .playlists__radio-text:hover:not(:active)::before {
    border-color: var(--violet-color);
  }

  .playlists__article:hover:not(:active) .playlists__descr-card,
  .playlists__article:hover:not(:active) .playlists__text-card {
    color: var(--white-color);
  }

  .playlists__article:hover:not(:active) .playlists__descr-card {
    background-color: var(--violet-color);
  }

  .playlists__article:hover:not(:active) .playlists__article-perfomers,
  .playlists__article:hover:not(:active) .playlists__country {
    -webkit-filter: brightness(40%);
            filter: brightness(40%);
  }

  .playlists__article:hover:not(:active) .playlists__btn-play {
    opacity: 1;
  }

  .marketing__btn:hover:not(:active) {
    color: var(--dark_blue-color);
    background-color: var(--yellow-color);
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_24531_3997)'%3E%3Cpath d='M10.5 20C16.0228 20 20.5 15.5228 20.5 9.99998C20.5 4.47714 16.0228 0 10.5 0C4.97724 0 0.5 4.47714 0.5 9.99998C0.5 15.5228 4.97724 20 10.5 20Z' fill='%23121723'/%3E%3Cpath d='M17.4385 4.54415L13.7295 3.177L8.3957 10.8639L8.92677 7.37535L6.02058 5.68243L0.67395 12.1143C0.924269 13.3861 1.4102 14.5721 2.08387 15.6241L5.27373 11.7714L4.09993 16.2964L7.73707 17.6273L13.1408 9.84664L11.9569 14.296L14.9033 16.0181L20.558 10.3177C20.5592 10.2537 20.5599 10.1891 20.5599 10.1249C20.5599 8.78283 20.3017 7.50156 19.8329 6.32921L16.5482 9.65404L17.4385 4.54415Z' fill='%23F0D288'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_24531_3997'%3E%3Crect x='0.5' width='20' height='20' rx='10' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E ");
  }

  .s-button-prev:hover:not(:active) {
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='21' cy='21' r='20' transform='matrix(4.37114e-08 -1 -1 -4.37114e-08 45 45)' stroke='%236D31EE' stroke-width='2'/%3E%3Cpath d='M26 32L18 24L26 16' stroke='%236D31EE' stroke-width='2' stroke-linecap='square'/%3E%3C/svg%3E ");
  }

  .s-button-next:hover:not(:active) {
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='20' transform='rotate(-90 24 24)' stroke='%236D31EE' stroke-width='2'/%3E%3Cpath d='M22 32L30 24L22 16' stroke='%236D31EE' stroke-width='2' stroke-linecap='square'/%3E%3C/svg%3E ");
  }

  .about__form-area:hover:not(:active) {
    background-color: var(--dark_grey-color);
  }

  .about__form-btn:hover:not(:active) {
    color: var(--white-color);
    background-color: var(--light_violet-color);
  }

  .form-input:hover:not(:active) {
    background-color: var(--dark_grey-color);
  }

  .footer__social:hover:not(:active) .footer__social-youtube,
  .footer__social:hover:not(:active) .footer__social-vk,
  .footer__social:hover:not(:active) .footer__social-ok {
    fill: var(--violet-color);
  }

  .footer__link:hover:not(:active) {
    color: var(--violet-color);
  }
}
